<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Computer_Complector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Computer_Complector.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="api" connectionString="localhost:8080"/>
  </connectionStrings>
  <applicationSettings>
    <Computer_Complector.Properties.Settings>
      <setting name="ServiceConnectionString" serializeAs="String">
        <value>https://localhost:44346/api/components</value>
      </setting>
    </Computer_Complector.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <Computer_Complector.Properties.Settings>
      <setting name="Culture" serializeAs="String">
        <value>en</value>
      </setting>
      <setting name="AuthentificationConnectionString" serializeAs="String">
        <value>https://localhost:44346/users</value>
      </setting>
    </Computer_Complector.Properties.Settings>
  </userSettings>
</configuration>